.signup-section {
  background: rgb(217, 230, 255);
  background: radial-gradient(circle, rgba(217, 230, 255, 1) 15%, rgba(255, 255, 255, 1) 78%);
}

.signup-section img.body-img {
  border-radius: 0 8px 8px 0;
}

.dashboard-div table tr:nth-child(even) {
  background-color: #F6F5FF;
}

.dashboard-div table button.generated {
  border: 1px solid #1E3A8A;
}

.dashboard-div table button.pending {
  border: 1px solid #9CA3AF;
  color: #9CA3AF;
}

.gradient-span {
  border-radius: 1809px;
  background: rgba(241, 239, 255, 0.60);
  filter: blur(217px);
  z-index: -1;
}

.drop-down-box::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 42px;
  background: white;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  /* border: 1px solid; */
  z-index: 2;
  border-left: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
}

.signup-form input{
  border: 1px solid #666666 ;
  transition: .3s ease;
}
.signup-form input:hover{
  outline: 1px solid #333333 ;
  transition: .3s ease;
}
.signup-form input:focus-visible{
  outline: 1px solid #0068AB ;
  border: none;
  transition: .3s ease;
}
